@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    height: 1px;
    width: 1px;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
}
